@charset "UTF-8";

/*css初始化*/
html,body {
	min-width: 1200px;
	width: auto !important;
	width: 1200px;
	width: 100%;
	height: 100%
    background-color: "#FFFFFF"
}

body {
	font: 14px/1.5 "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
	color: #000;
	background-color: "#FFFFFF"
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td {
 /* table elements 表格元素 */
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
font-weight: 400;
font-family: "Microsoft YaHei";
}

button,input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit
}
img{
    border-style:none;
}

ul,ol {
	list-style: none
}
em,b,p{
    font-style:normal
}
a {
	color: #000;
	background: transparent;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
}


a:active,a:hover {
	outline: 0;
	text-decoration: none
}
.clearfix {
	zoom: 1
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0
}
.section {
	width: 1200px;
	margin: 0 auto
}
input,textarea,button{
    outline: none;
}
.bg-gray{
    background:#f6f8f9 !important
}
.bg-white{ 
    background: #fff !important
}
.c-black{
    color: #000 !important
}
.c-white{
    color: #fff !important
}
.l{
	float: left;
}
.r{
	float: right;
}
.outwrap{
    position: relative;
    z-index: 1;
    padding: 15px 0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.bd-bm-1{
    border-bottom:1px solid #e1e1e1;
}
.bd-tp-1{
    border-top:1px solid #e1e1e1;
}
.mr-25{
    margin-right: -25px;
}
.mb-15{
    margin-bottom: 15px;
}
/*header 部分*/

.index-header{
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 70px;
    z-index: 999;
    background: transparent;
    transition: background-color ease 0.3s;
    -moz-transition: background-color ease 0.3s;
    -webkit-transition: background-color ease 0.3s;
    -o-transition: background-color ease 0.3s;
}
.index-header:hover{
    min-width: 1200px;
    height: 70px;
    background: #34363b;
}
.common-header{
    position: relative;
    height: 70px;
    z-index: 999;
    background: #34363b;
}
.header-logo{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    margin-top: 15px;
    margin-right: 40px;
    height: 50px;  
}
.header-nav{
    height: 70px;
    display: inline-block;
    list-style: none;   
}

.header-nav li{
    display: inline-block;
    line-height: 70px;
    float: left;
    -webkit-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s;
}
.header-nav li.on{
    background: #2a2c2f;
}
.header-nav li.on a{
    color: #217bca
}
.header-nav li a{
    font-size: 16px;
    padding: 0px 15px;
    display: block;
    cursor: pointer;
    color: #fff;
}
.header-nav li a:hover{
    background: #2a2c2f;
    color: #217bca
}
.header-login{
    margin-top: 15px;
    float: right;
    font-size: 0px;
}
.header-login a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.header-login a:hover {
    color: #217bca;
}
.header-search-wrap{
    float: right;
    position: relative;
    margin-right: 18px;
    padding: 0 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    height: 25px;
    margin-top: 22px;
}
.header-search-area {
    float: right;
    position: relative;
    height: 25px;
    width: 130px;
    padding-right: 30px;
    border:none;
    border-bottom-color: rgba(120,125,130,.8);
    zoom: 1;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}
.header-search-area .header-search-input {
    color: #71777d;
    background-color: transparent !important;
}
.header-search-area .header-search-input {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    float: left;
    border: 0;
    color: #fff;
    transition: background-color .3s;
    background-color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.header-search-wrap .header-search-icon {
    width: 30px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    position: absolute;
    display: inline-block;
    right: 0;
    top: 3px;
    background: url(../images/search-icon.png) no-repeat;
}

/*首页banner*/
.fullSlide {
    width:100%;
    position:relative;
    height:490px;
    background:#000;
}
.fullSlide .bd {
    margin:0 auto;
    position:relative;
    z-index:0;
    overflow:hidden;
}
.fullSlide .bd ul {
    width:100% !important;
}
.fullSlide .bd li {
    width:100% !important;
    height:490px;
    overflow:hidden;
    text-align:center;
}
.fullSlide .bd li a {
    display:block;
    height:490px;
}
.fullSlide .hd {
    width:100%;
    position:absolute;
    z-index:1;
    bottom:0;
    left:0;
    height:30px;
    line-height:30px;
}
.fullSlide .hd ul {
    text-align:center;
}
.fullSlide .hd ul li {
    cursor:pointer;
    display:inline-block;
    *display:inline;
    zoom:1;
    width:13px;
    height:13px;
    margin:0 3px;
    overflow:hidden;
    line-height:999px;
    background:url(../images/slide-y.png) no-repeat;
}
.fullSlide .hd ul .on {
    background:url(../images/slide-y-on.png) no-repeat;
}
.fullSlide .prev,.fullSlide .next {
    display:block;
    position:absolute;
    z-index:1;
    top:50%;
    margin-top:-30px;
    left:15%;
    z-index:1;
    width:40px;
    height:60px;
    background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:0.5;
    display:none;
}
.fullSlide .next {
    left:auto;
    right:15%;
    background-position:-6px -137px;
}
/*index 推荐模块*/
.index-rcommend-box{
    position: relative;
}
.common-hd{
    height: 50px;
}
.common-hd h1{
    line-height: 50px;
    font-size: 22px;
}
.common-hd h2{
    line-height: 50px;
    font-size: 18px;
}
.rcommend-box{
    padding: 25px 0;
    overflow:hidden;
}
.common-hd h1{
    display: inline-block;
    vertical-align: top;
}
.rcommend-mv-box{
    width: 735px;
}
.rcommend-news-box{
    width: 463px;
    border:1px solid #e1e1e1;
}

/*视频列表公用样式*/

.mv-link{
    float: left;
    width: 220px;
    height: 230px;
    margin-right: 25px;
}
.mv-link-img{
    position: relative;
    width: 220px;
    height: 124px;
    overflow: hidden;
}
.mv-link img{
    vertical-align: top;
    max-width: 100%;
}
.mv-link h4{
    height: 50px;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 10px;
    color: #000;
    overflow:hidden;
}
.mv-link:hover h4{
    color: red
}
.mv-link-bottom{
    height: 16px;
    padding: 0 10px;
}
.score{
    font-size: 12px;
    color: #93999f;
}
.number{
    font-size: 12px;
    color: #93999f;
}

/*新闻列表样式1*/

.news-tab-box{
    margin-right: -25px;
}
.news-link{
    width: 465px;
    float: left;
    position: relative;
    margin-right: 25px;
    margin-bottom: 20px;
}
.news-link a{
    float: left;
    width: 380px;
    padding-right: 100px;
    color: #000;
    font-size: 16px;
    text-align: left;
    height: 25px;
    line-height: 25px;
    overflow:hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis; 
    text-overflow: ellipsis;
}
.news-link a:hover{
    color: red;
}
.news-link b{
    position: absolute;
    line-height: 30px;
    right: 0;
    color: #b7b7b7;
    font-size: 12px;
    text-align: right;
}

/*推荐新闻*/

.rcommend-top-new{
    padding: 20px;
}
.rcommend-top-new h1{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.rcommend-top-new h1 a{
    color: #000;
}
.rcommend-top-new h1 a:hover{
    color: red;
}
.rcommend-top-new p{
    font-size: 12px;
    text-indent: 2em;
    line-height: 24px;
    color: #7e7e7e;
}
.rcommend-bottom-news{
    padding: 20px;
}
.rcommend-bottom-news ul{
    list-style: square;
    padding-left: 15px;
    overflow: hidden;
}
.rcommend-bottom-news ul li{
    width: 100%;
}
.rcommend-bottom-news ul li a{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
/* 
    -o-text-overflow: ellipsis; 
    text-overflow: ellipsis; /* for IE */ 
} 
.rcommend-bottom-news ul li a:hover{
    color: red;
}

/*首页视频框架*/
.index-tab-wrap{
    width: 980px;
    position: relative;
    height: 600px;
}
.common-tab-hd{
    position: absolute;
    top: 5px;
    left: 0;
}
.common-tab-hd h1{
    font-size: 22px;
}
.tab-more{
    position: absolute;
    top:18px;
    right: 25px;
    font-size: 14px;
}
/*tab插件css*/

/*视频tab*/
.mv-slideTxtBox {
    text-align: left;
}

.mv-slideTxtBox .hd {
    padding-left: 100px;
    position: relative;
    padding-right: 80px;
    overflow: hidden;
    height: 50px;
}

.mv-slideTxtBox .hd ul {
    display: inline-block;
    float: left;
    margin-left: 10px;
    height: 50px;
}

.mv-slideTxtBox .hd ul li {
    display: block;
    float: left;
    padding: 8px 20px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.mv-slideTxtBox .hd ul li:hover{
    color: #fff;
    background: #217bca;
}

.mv-slideTxtBox .hd ul li.on {
    color: #fff;
    background: #217bca;
}
.mv-slideTxtBox .bd{
    padding: 15px 0;
}
.mv-slideTxtBox .bd ul {
    position: relative;
    zoom: 1;
    overflow: hidden;
}

.mv-slideTxtBox .bd li {
    height: 24px;
    line-height: 24px;
}

.mv-slideTxtBox .bd li .date {
    float: right;
    color: #999;
}

/*新闻tab框架*/
.new-slideTxtBox {
    text-align: left;
}

.new-slideTxtBox .hd {
    padding-left: 100px;
    position: relative;
    padding-right: 80px;
    overflow: hidden;
    height: 50px;

}

.new-slideTxtBox .hd ul {
    display: inline-block;
    float: left;
    margin-left: 10px;
    height: 50px;
}

.new-slideTxtBox .hd ul li {
    display: block;
    float: left;
    padding: 8px 20px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 6px;
}
.new-slideTxtBox .hd ul li:hover{
    color: #fff;
    background: #217bca;
}
.new-slideTxtBox .bd{
    padding: 15px 0;
}
.new-slideTxtBox .hd ul li.on {
    color: #fff;
    background: #217bca;
}

.new-slideTxtBox .bd ul {
    position: relative;
    zoom: 1;
    overflow: hidden;
}

.new-slideTxtBox .bd li {
    height: 24px;
    line-height: 24px;
}

.new-slideTxtBox .bd li .date {
    float: right;
    color: #999;
}
/*首页tab框架*/

/*公用点击排行榜*/
.index-rank-wrap{
    width: 220px;
}
.common-rank-list{
    display: block;
    position: relative;
    padding: 15px 0;
}
.common-rank-list ul li {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis; /* for Opera */
    text-overflow: ellipsis; /* for IE */ 
}
.common-rank-list ul li em{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #bbb;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}
.common-rank-list ul li a {
    color: #000;
    font-size: 14px;
    line-height: 25px;
}
.common-rank-list ul li a:hover {
    color: red;
}
.common-more{
    float: right;
    line-height: 50px;
    margin-right: 10px;
    font-size: 14px;
    color: #999;
}
.common-more:hover{
    color: #217bca !important;
}
.no1{
    background: #ee441c !important;
}
.no2{
    background: #fc7321 !important;
}
.no3{
    background: #fd9d28 !important;
}

/*公用定位标签*/
.banner-img {
    background: url(../images/banner-img.png) no-repeat;
    background-size: cover;
    padding-right: 20px;
}
.label-box {
    padding: 15px 0;
    height: 130px;
    position: relative;
    overflow: hidden;
}
.label-box a{
    display: inline-block;
    padding: 15px 30px;
    border:1px solid #4c5063;
    margin: 0 30px 20px 0;
    border-radius: 5px;
    color: #4c5063;
    transition: background-color ease 0.3s;
    -moz-transition: background-color ease 0.3s;
    -webkit-transition: background-color ease 0.3s;
    -o-transition: background-color ease 0.3s;
}
.label-box a:hover{
    background: #217bca;
    border: 1px solid #217bca;
    color: #fff;
}

/*公用热点事件*/
.hot-banner-box{
    position: relative;
    zoom: 1;
    padding: 15px 0;
    margin-right: -25px;
}
.hot-banner-item{
    margin-right: 20px;
}




/*友情链接*/
.friend-link{
    padding: 15px 0;
    overflow: hidden;
}
.friend-link ul li{
    float: left;
}
.friend-link ul li a{
    display: block;
    font-size: 14px;
    line-height: 36px;
    color: #000;
    margin: 0 30px 20px 0;
}
.friend-link ul li a:hover{
    color: red
}

/*公用筛选器*/

.common-filter-box{
    float: none;
    width: 100%;
    box-shadow: none;
}
.filter-nav-row {
    padding: 16px 0 5px;
}
.border-bottom-none{
    border-bottom: none !important;
}
.filter-nav-row .hd {
    width: 80px;
    height: 20px;
    line-height: 40px;
    font-weight: 400;
    font-size: 14px;
    color: #07111b;
    text-align: right;
}
.filter-nav-row .bd {
    margin-left: 100px;
}
.filter-nav-item {
    display:inline-block;
    margin:0 6px;
}
.filter-nav-item a {
    display:block;
    line-height:20px;
    margin-bottom:20px;
    padding:9px 12px;
    font-size:14px
}
.filter-nav-item a:hover{
    background:#217bca;
    color: #fff;
}
.filter-nav-item.on a {
    background:#217bca;
    color:#fff
}
.filter-tool-bar {
    position: relative;
    padding-top: 26px;
    padding-bottom: 16px;
    overflow: hidden;
    height: 14px !important;
    margin-top: -1px;
    padding-right: 15px;
    font-size: 12px;
}
.filter-tool-bar .tool-left a {
    margin: 0 12px;
    line-height: 14px;
    font-size: 14px;
    color: #787d82;
}
.filter-tool-bar .tool-left a.active {
    color: #217bca;
}
.filter-list{
    margin-right: -25px;
}

/*公用分页*/
.page {
    margin:0 auto;
    overflow: hidden;
    clear: both;
    text-align: center;
    padding: 20px 0;
}
.page a, .page span, .page-disabled {
    padding: 0 6px;
    min-width: 24px;
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.page span, .page-disabled {
    height: 32px;
    color: #c8cdd2;
}
.page a.text-page-tag.active {
    background: #217bca;
    color: #fff;
}
.page a.text-page-tag:hover{
    background: #217bca;
    color: #fff;
}

.page a.current {
    background: #217bca;
    color: #fff;
}
.page a:hover{
    background: #217bca;
    color: #fff;
}

/*新闻列表－2*/
.news-list{
    float: left;
    width: 585px;
    height: 220px;
    background: #FFF;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: background-color ease 0.3s;
    -moz-transition: background-color ease 0.3s;
    -webkit-transition: background-color ease 0.3s;
    -o-transition: background-color ease 0.3s;
}
.news-list:hover{
    -moz-box-shadow: 3px 3px 4px #bdbdbd;
    -webkit-box-shadow: 3px 3px 4px #bdbdbd;
    box-shadow: 3px 3px 4px #bdbdbd;
     /* For IE 8 */
}
.news-list h4{
    padding: 15px;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
}
.news-list:hover h4{
    color: red
}
.news-list p{
    padding: 0 15px;
    font-size: 14px;
    line-height: 36px;
    height: 100px;
    overflow: hidden; 
    color: #999;
}
.news-list p:hover{
    color: #999;
}
.news-list .news-list-bottom{
    padding: 15px;
}
.time{
    font-size: 12px;
    color: #93999f;
}


/*footer*/

.footer{
    background: #34363b;
    padding: 38px;
}
.footer .logo{
    width: 165px;
    height: 38px;
    background: url(../images/footer-logo.png) no-repeat;
    margin: 0 auto;
}
.footer p{
    margin-top: 18px;
    text-align: center;
    color: #595c64;
}

/* 搜索 列表 */
.search-main .search-header {
    height: 220px;
    background-image: url(../images/searchbar_background.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-main .search-form {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    position: relative;
}
.search-main .icon-search {
    position: absolute;
    font-size: 24px;
    color: #b7bbbf;
    left: 16px;
    bottom: 15px;
    width: 17px;
    height: 17px;
    background:url(../images/search-icon2.png) no-repeat;
}
.search-main .search-form-ipt {
    float: left;
    width: 560px;
    height: 48px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 16px 0 52px;
    font-size: 16px;
    color: #b7bbbf;
    line-height: 44px;
}
.search-main .search-form-btn {
    float: left;
    width: 80px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background-color: #148cf0;
    cursor: pointer;
}
.search-main .hot {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #b7b7b7;
}
.search-main .hot li {
    float: left;
    margin-right: 24px;
}
.search-main .hot li:first-child {
    margin-right: 8px;
}
.search-main .hot a {
    display: block;
    color: #b7b7b7;
}
.search-main .hot a:hover {
    color: #fff;
}
.search-main .search-body {
    width: 840px;
    margin: 0 auto;
}
.search-main .search-nav-warp {
    text-align: center;
}
.search-main .search-nav {
    display: inline-block;
    padding: 36px 0 32px;
    line-height: 16px;
}
.search-main .search-nav a {
    font-size: 16px;
    color: #4d555d;
    margin-left: 80px;
}
.search-main .search-nav a.active, .search-main .search-nav a:active {
    color: #217bca;
}
.search-main .search-nav a:first-child {
    margin-left: 0;
}
.search-main .search-related {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #93999f;
    padding-left: 24px;
    background-color: #f3f5f7;
}
.search-main .search-title {
    padding: 28px 0 12px 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #07111b;
    font-weight: 700;
}

/*视频搜索列表*/
.course-item{
    padding: 24px;
    overflow: hidden;
}
.article-item, .course-item, .search-main .search-title, .news-item {
    border-bottom: 1px solid #d9dde1;
}
.course-item .course-item-left {
    float: left;
    width: 210px;
    height: 120px;
    margin-right: 24px;
}
.course-item .course-item-left a, .course-item .course-item-left img {
    display: block;
}
.course-item .course-item-right {
    float: right;
    width: 558px;
    min-height: 120px;
}
.course-item .course-item-title {
    color: #07111b;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 700;
}
.course-item .course-item-title a:hover{
    color: red
}
.course-item .tag {
    width: 150px;
    height: 16px;
    line-height: 16px;
    padding: 16px 0;
}
.search-main .content {
    word-break: break-all;
}
.course-item .content {
    line-height: 24px;
    font-size: 14px;
    color: #4d555d;
}
.search-main .href-warp {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    padding-top: 22px;
    text-align: center;
}
.search-main .href-warp a {
    color: #00a0dc;
}

/*文章搜索列表*/
.news-item {
    padding: 24px;
    overflow:hidden;
}
.news-item .news-item-title {
    font-size: 16px;
    color: #07111b;
    margin-bottom: 20px;
}
.news-item .news-item-title a {
    color: #07111b;
    font-weight: 700;
}
.news-item .news-item-title a:hover {
    color: red;
}
.news-item-tag{
    width: 200px;
    height: 16px;
    line-height: 16px;
    padding: 16px 0;
}
.news-item .content {
    font-size: 14px;
    color: #4d555d;
    line-height: 28px;
}
.search-main {
    padding-bottom: 60px;
}

/*标签*/
.search-main .search-header-course {
    padding: 30px 0;
    background-image: url(../images/banner-img2.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-main .search-header-course a{
    color: #fff;
}

/*文章阅读页*/
.crticle-main{
    width: 860px;
}
.crticle-box{
    position: relative;
}
.crticle-hd h1{
    font-size: 22px;
    font-weight: 700px;
    color: #000;
    text-align: left;
    padding-bottom: 5px;
}
/*.crticle-hd .crticle-info{
    padding-bottom: 20px;
}*/
.crticle-hd .crticle-info span{
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
.crticle-bd p{
    padding-top: 20px;
    font-size: 14px;
    line-height: 36px;
    text-indent: 2em;
}

/*附件下载*/
.download-box{
    padding: 15px 0;
}
/*ul.download-list{
    padding: 15px 0;
}*/
ul.download-list li{
    position: relative;
    border-bottom:1px solid #e1e1e1;
}
ul.download-list li a{
    display: block;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 80px;
    transition: background-color ease 0.3s;
    -moz-transition: background-color ease 0.3s;
    -webkit-transition: background-color ease 0.3s;
}
ul.download-list li a:hover{
    background: #f7f7f7;
}
ul.download-list li:hover em.download-icon{
    color: red;
}
ul.download-list li em.zip-icon{
    position: absolute;
    top: 27px;
    left: 10px;
    width: 28px;
    height: 25px;
    background: url(../images/zip-icon.png) no-repeat;

}
ul.download-list li em.download-icon{
    position: absolute;
    right: 10px;
    line-height: 80px;
    color: #569414;
}

/*评论模块*/
.common-comment{
    background-color: #f6f6f6;
    position: relative;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.comment-text{
    width: 97%;
    height: 80px;
    margin: 20px 0;
    border: 1px solid #d0d6d9;
    background-color: #fff;
    font-size: 14px;
    line-height: 36px;
    padding: 10px;
}
.comment-buttom .comment-submit{
    width: 78px;
    max-height: 38px;
    line-height: 30px;
    background-color: #217bca;
    color: #fff;
    border:1px solid #e1e1e1;
    font-size: 16px;
    cursor: pointer;
}
.comment-buttom .comment-submit:hover{
    background: #278bd8;
}

.common-hd h2{
    font-size: 16px;
    color: #999;
}

.comment-list-box{
    padding-bottom: 30px;
}
.comment-list-item{
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}
.comment-user{
    padding: 20px 10px;
}
.comment-user span{
    font-size: 12px;
    color: #999;
}
.comment-user-content{
    padding: 0px 10px;
}
.stars-box{
    line-height: 38px;
    height: 38px;
}
#stars{
    display: inline-block;
    font-size: 16px;
    color: #666;
}
#stars img{
    vertical-align: middle;
}
#stars-number{
    width: 50px;
    display: inline-block;
    color: #217bca;
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
}
/*－－－－－－－－－侧边栏－－－－－－－*/
.common-silder{
    width: 300px;
    padding: 15px 0;
}
.common-label-list{
    position: relative;
    padding: 15px 0;
}
.common-label-list ul li
{
    display: inline-block;
}
.common-label-list ul li a{
    display: block;
    padding: 10px 15px;
    border:1px solid #e1e1e1;
    color: #999;
    font-size: 14px;
    margin-right: 10px; 
    margin-bottom: 10px;
     transition: background-color ease 0.3s;
    -moz-transition: background-color ease 0.3s;
    -webkit-transition: background-color ease 0.3s;
    -o-transition: background-color ease 0.3s;
}
.common-label-list ul li a:hover{
    background: #217bca;
    font-size: 14px;
    color: #fff;
}
.common-hot-list{
    position: relative;
    padding: 15px 0;
}
.common-hot-item{
    width: 300px;
    margin-bottom: 15px;
}
.common-hot-item a img{
    max-width: 100%;
    vertical-align: top;
}

/*视频播放*/
.mv-top-box{
    width: 100%;
}
.mv-left-main{
    width: 860px;
}
.mv-brief-box{
    padding: 20px 0;
}
.mv-brief-hd h1{
    font-size: 22px;
    font-weight: 700px;
    color: #000;
    text-align: left;
    padding-bottom: 5px;
}
.mv-kv-hd{
    width: 100%;
    background: #fff;
}
.mv-kv-hd h1{
    font-size: 22px;
    font-weight: 700px;
    color: #000;
    text-align: left;
    padding-bottom: 5px;
    margin-top: 10px;
}
.mv-kv-info{
    padding-bottom: 10px;
}
.mv-kv-hd .mv-kv-info span {
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
.mv-kv-bd{
    position: relative;
    background: #111111;
    height: 480px;
    overflow: hidden;
}
#kv-main{
    width: 800px;
    height: 450px;
    margin: 15px auto;
}